.nav-menu {
  list-style: none outside;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.navbar {
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  font-weight: 600;
  font-size: 24px;
  transition: all 200ms;
  @media (width >= 40rem) {
    max-width: 30rem;
  }
}
.space {
  flex-grow: 1;
}
.shadow {
  box-shadow: 2px 6px 20px 1px rgba(219, 219, 219, 0.57);
}
